
/* Reset CSS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}
ul {
    list-style: none;
}

.navbar{
    background-color: #1f2937
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.navbar .logo {
    font-size: 24px;
    color: #f9faf8;
}
.navbar a{
    text-decoration: none;
    color: #e5e7eb;
}
.navbar ul {
    display: flex;
}
.navbar ul li{
    font-size: 18px;
    margin-left: 20px;;
}

.header {
    background-color: #1f2937;
}

.header .img-container {
    width: 400px;
    height: 250px;
    background: grey;
    padding: 100px 80px;
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 20px;
}

.header h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.header p{
    font-size: 18px;
    color: #e5e7eb;
}

.header .btn {
    background-color: #3882f6;
    color: white;
    padding: 12px 34px;
    margin-top: 10px;
    border-radius: 6px;
    font-size: 18px;
    text-decoration: none;
    border: none;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.random-info {
    background-color: #f9faf8;
}

.random-info h1 {
    font-size: 36px;
    font-weight: extra-bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.random-info .box {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.random-info .box-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.random-info .info {
    max-width: 150px;
}

.random-info .text {
    font-size: 18px;
    color: grey;
    text-align: center;
}






